@media only screen and (max-width: 640px){

  html{
    height: 100%;
    width: 100%;
    font-family: "Orbitron", Arial, sans-serif;
  }
  
  body{
    margin: 0;
    background-color: #d9d9d9;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    width: auto;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .flexbox{
    display: flex;
    flex-wrap: nowrap;
    background-color: #364784;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: auto;
  }
  #vapen1 {
    transform: scale(0.65);
  }
  #vapen2 {
    transform: scaleX(-1) scale(0.65);
  }
  nav {
    background-color: #6977a9;
    display: flex;
    align-items: center;
    font-size: 15px;
    height: 80px;
    width: auto;
  }

  nav ul {
    list-style-type: none;
    display: flex;
    margin: 10px;
    padding: 0;
    flex-grow: 1;
    justify-content: center;
  }

  nav li {
    margin: 0 10px;
  }

  .nav-länk {
    font-weight: normal;
    color: white;
    text-decoration: none;
  }

  .nav-länk-aktiv,
  .nav-länk:hover {
    font-weight: bold;
    color: white;
  }

  #kundvagn-ikon {
    background-color: #6977a9;
    margin-right: 30px;
    border: none;
    border-radius: 15px;
    margin-left: -50px;
  }
  #kundvagn-ikon:hover {
    background-color: white;
    transform: scale(1.25);
  }
  #kundvagn-ikon:active {
    -webkit-filter: invert();
    transform: scale(1.25);
  }
  footer {
    background-color: #364784;
    text-align: center;
    width: 100%;
    height: 150px;
    margin-top: auto;
  }
  footer p {
    color: white;
    font-size: 20px;
  }
  h1 {
    text-align: center;
  }
  .produkterGrid{  /* inte riktigt men jaja */
    display: flex;
    flex-direction: column;
  }
  .produkt {
    background-color: white;
    margin: 15px;
    text-align: center;
    width: 350px;
    height: 250px;
    border-radius: 20px;
    margin-left:auto;
    margin-right: auto;
  }
  .produkt img {
    height: 100px;
    width: auto;
    align-items: center;
    margin-top: 5px;
  }
  .produkt button {
    margin-bottom: 15px;
    width: 155px;
    height: 55px;
    background-color: #364784;
    color: white;
    font-size: 30px;
    border-radius: 20px;
  }
  .produkt button:active {
    background-color: white;
    color: #364784;
    outline-color: #364784;
    transform: scale(1.1);
  }

  .kundvagn-gömd{
    display: none;
  }
  .kundvagn-synlig{
    display: block;
    color: black;
    background-color: white;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 1000;
    padding: 15px;
    overflow-y: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }
  #stäng-kundvagn {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    font-size: 30px;
    color: red;
  }
  #knappar button{
    width: 135px;
    height: 55px;
    background-color: #364784;
    color: white;
    font-size: 30px;
    border-radius: 20px;
    margin-left: 65px;
    margin-top: 15px;
    
  }
}

@media screen and (min-width: 641px) and (max-width: 1007px) { /* fattar inte hur man ska göra detta */
  html{
    height: 100%;
    width: 100%;
    font-family: "Orbitron", Arial, sans-serif;
  }
  
  body{
    margin: 0;
    background-color: #d9d9d9;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    width: 100%;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .flexbox{
    display: flex;
    flex-wrap: nowrap;
    background-color: #364784;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: auto;
    width: 100%;
  }
  #vapen1 {
    transform: scale(0.65);
  }
  #vapen2 {
    transform: scaleX(-1) scale(0.65);
  }
  nav {
    background-color: #6977a9;
    display: flex;
    align-items: center;
    font-size: 15px;
    height: 80px;
    width: auto;
  }

  nav ul {
    list-style-type: none;
    display: flex;
    margin: 10px;
    padding: 0;
    flex-grow: 1;
    justify-content: center;
  }

  nav li {
    margin: 0 10px;
  }

  .nav-länk {
    font-weight: normal;
    color: white;
    text-decoration: none;
  }

  .nav-länk-aktiv,
  .nav-länk:hover {
    font-weight: bold;
    color: white;
  }

  #kundvagn-ikon {
    background-color: #6977a9;
    margin-right: 30px;
    border: none;
    border-radius: 15px;
    margin-left: -50px;
  }
  #kundvagn-ikon:hover {
    background-color: white;
    transform: scale(1.25);
  }
  #kundvagn-ikon:active {
    -webkit-filter: invert();
    transform: scale(1.25);
  }
  footer {
    background-color: #364784;
    text-align: center;
    width: 100%;
    height: 150px;
    margin-top: auto;
  }
  footer p {
    color: white;
    font-size: 20px;
  }
  h1 {
    text-align: center;
  }
  .produkterGrid{  /* inte riktigt men jaja */
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  
  }
  .produkt {
    background-color: white;
    margin: 15px;
    text-align: center;
    width: 350px;
    height: 250px;
    border-radius: 20px;
    margin-left:auto;
    margin-right: auto;
  }
  .produkt img {
    height: 100px;
    width: auto;
    align-items: center;
    margin-top: 5px;
  }
  .produkt button {
    margin-bottom: 15px;
    width: 155px;
    height: 55px;
    background-color: #364784;
    color: white;
    font-size: 30px;
    border-radius: 20px;
  }
  .produkt button:active {
    background-color: white;
    color: #364784;
    outline-color: #364784;
    transform: scale(1.1);
  }

  .kundvagn-gömd{
    display: none;
  }
  .kundvagn-synlig{
    display: block;
    color: black;
    background-color: white;
    width: 350px;
    height: 100%;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 1000;
    padding: 15px;
    overflow-y: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }
  #stäng-kundvagn {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    font-size: 30px;
    color: red;
  }
  #knappar button{
    margin-left: 65px;
    margin-top: 15px;
    width: 135px;
    height: 55px;
    background-color: #364784;
    color: white;
    font-size: 30px;
    border-radius: 20px;
    
  }
}

@media screen and (min-width: 1008px) {
  html {
    height: 100%;
    font-family: "Orbitron", Arial, sans-serif;

  }

  body {
    margin: 0;
    background-color: #d9d9d9;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    width: auto;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .flexbox {
    display: flex;
    flex-wrap: nowrap;
    background-color: #364784;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: auto;
  }
  #vapen1 {
    margin-right: 300px;
    transform: scale(0.65);
  }
  #vapen2 {
    margin-left: 300px;
    transform: scaleX(-1) scale(0.65);
  }

  nav {
    background-color: #6977a9;
    display: flex;
    align-items: center;
    font-size: 25px;
    height: 80px;
    width: auto;
  }

  nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    flex-grow: 1;
    justify-content: center;
  }

  nav li {
    margin: 0 10px;
  }

  .nav-länk {
    font-weight: normal;
    color: white;
    text-decoration: none;
  }
  .nav-länk-aktiv,
  .nav-länk:hover {
    font-weight: bold;
    color: white;
  }

  #kundvagn-ikon {
    background-color: #6977a9;
    margin-right: 30px;
    border: none;
    border-radius: 15px;
    margin-left: -70px;
  }
  #kundvagn-ikon:hover {
    background-color: white;
    transform: scale(1.25);
  }
  #kundvagn-ikon:active {
    -webkit-filter: invert();
    transform: scale(1.25);
  }
  .kundvagn-gömd{
    display: none;
  }
  .kundvagn-synlig{
    display: block;
    color: black;
    background-color: white;
    width: 350px;
    height: 100%;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 1000;
    padding: 15px;
    overflow-y: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }
  #stäng-kundvagn {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    font-size: 30px;
    color: red;

  }
  #knappar button{

    width: 135px;
    height: 55px;
    background-color: #364784;
    color: white;
    font-size: 30px;
    border-radius: 20px;
    margin-left: 25px;
    margin-top: 15px;
  }
  footer {
    background-color: #364784;
    text-align: center;
    width: 100%;
    height: 150px;
    margin-top: auto;
  }
  footer p {
    color: white;
    font-size: 20px;
  }
  h1 {
    text-align: center;
  }
  .produkterGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .produkt {
    background-color: white;
    margin: 15px;
    text-align: center;
    width: 350px;
    height: 250px;
    border-radius: 20px;
    margin-left:auto;
    margin-right: auto;
  }
  .produkt:hover {
    transform: scale(1.1);
  }
  .produkt img {
    height: 100px;
    width: auto;
    align-items: center;
    margin-top: 10px;
  }
  .produkt button {
    margin-bottom: 10px;
    width: 155px;
    height: 55px;
    background-color: #364784;
    color: white;
    font-size: 30px;
    border-radius: 20px;
  }
  .produkt button:hover {
    transform: scale(1.1);
  }
  .produkt button:active {
    background-color: white;
    color: #364784;
    outline-color: #364784;
  }
}
